<a href="https://colab.research.google.com/github/QAtester-MM/Data-Science_Machine-Learning/blob/master/Applied_Predictive_Modeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import zipfile
with zipfile.ZipFile("/content/it_mlapmldj_01_enus_02.zip", "r") as zipf:
  zipf.extractall("/content/test/")
  zipf.extractall("/content/train/")

In [1]:
import numpy as np
import pandas as pd
from  matplotlib import pyplot as plt
from  matplotlib import style
%matplotlib inline
import seaborn as sns

In [10]:
test_df = pd.read_csv("/content/test/it_mlapmldj_01_enus_02/exploratory_data_analysis/test.csv")
train_df = pd.read_csv("/content/test/it_mlapmldj_01_enus_02/exploratory_data_analysis/train.csv")

In [11]:
##### .info() распечатает краткий обзор данных из нашего датафрейма
train_df.info() #### видим, что по возрасту (п.5) и кабинам (п.10) у нас недостаточно данных (пропущенные данные)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [14]:
train_df.shape  #### видим, что метод .info() гораздо информативнее

(891, 12)

In [15]:
train_df.head(3)

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S

[3 rows x 12 columns]