<a href="https://colab.research.google.com/github/QAtester-MM/-----------------------------/blob/master/Travel_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

День 1
Сегодня:

— Работа в Google Colab

— Введение в python, pandas

Файл с данными: trips_data.xlsx

https://drive.google.com/file/d/18Hyh1l9H3bR556W1tO2vKwpfAqZPueEp/view

In [5]:
import pandas

In [9]:
trips_data = pandas.read_excel("/content/trips_data.xlsx", index_col=0)

In [8]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [10]:
trips_data = pandas.read_excel("/content/trips_data.xlsx", index_col=0)

In [11]:
trips_data.head(3)

   salary          city  age  ... transport_preference family_members    target
0  196000     Краснодар   25  ...           Автомобиль              1  New York
1  152000  Екатеринбург   60  ...              Самолет              1    London
2   83000         Томск   49  ...           Автомобиль              2    Sydney

[3 rows x 7 columns]